.btn-transparent{
    background-color: #CC1D7C!important;   
    color: white!important;
}
.btn-transparent:hover{
    background-color: white!important;
    color: #CC1D7C!important;
    border: 1px solid #CC1D7C!important;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    background: #f8f9fa!important;
    margin-bottom: 20px;
}
.card-form{
    background: #f3f3f2!important;
}

.main-content {
    flex: 1;
}

.btn-grid {
    background: #f3f3f2;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 2.5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-weight: 500;
    box-shadow: 0 4px 15px rgba(108, 117, 125, 0.79);
}
.btn-grid:hover {
    background: rgba(157, 155, 158, 0.773);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(108, 117, 125, 0.3);
}
.btn-grid i {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    display: block;
    color: #CC1D7C;
}
.btn-grid h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #CC1D7C;
    letter-spacing: 0.5px;
}
.btn-grid p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    opacity: 0.95;
    line-height: 1.6;
    color: #97245e;
    font-weight: 400;
}
.btn-grid .access-text {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #e23189;
    background: rgba(255, 255, 255, 0.42);
    padding: 10px 20px;
    border-radius: 25px;
}
.btn-grid .access-text i {
    font-size: 0.9rem;
    margin: 0;
}


